{% extends 'main.html' %}

{% block navbar %}
	{% include 'resume/navbar.html' %}
{% endblock %}

{% block content %}
	{% include 'resume/home.html' %}
	{% include 'resume/about.html' %}
	{% include 'resume/experience.html' %}
	{% include 'resume/certificates.html' %}
	{% include 'resume/publications.html' %}
	{% include 'resume/demo.html' %}
	{% include 'resume/projects.html' %}
	{% include 'resume/testimonials.html' %}
	{% include 'resume/blog.html' %}
	{% include 'resume/contact.html' %}
{% endblock %}

{% block styles %}
<style>
	.pub-viewcount .number .count {
		font-style: inherit;
	}

	.pub-viewcount .number span {
		font-weight: 400;
		font-size: 16px;
	}

	.pub-viewcount h3 {
		color: #adb5bd !important;
	}
</style>
{% endblock %}